/* variables: */
/* primary and secondary background color */
:root{
  --primary-color: hsl(278, 100%, 45%,0.2);
  --secondary-color: rgba(241, 216, 253, 0.5);
  --caption-color: hsl(278, 100%, 45%, 1);
  --header-color: #cc93ec;
  --booked-color: #ecceff;
}

button.calendar{
	border: 1px solid var(--secondary-color);
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: all;
	transition-duration: 0.2s;
}
button.calendar:hover{
	background-color: var(--primary-color);
	border: 1px solid var(--caption-color);
}
/* table tr row even */
nav.tabbed a{
	display: inline-block;
	background-color: rgba(243, 244, 246, 0.4);
	text-decoration: none;
	color: white;
	margin-right:0.1rem;
	padding: 0.5rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;

}
nav.tabbed a.active{
	color: var(--caption-color);
	background-color: rgb(243, 244, 246);
}

table{
	border-collapse: collapse;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
	overflow: hidden;
}
table tr:nth-child(odd){
	background-color: rgba(0,0,0,0.05);
}

table th{
	background-color: var(--caption-color);
	border: 1px solid var(--header-color);
	color: white;
	padding: 0.5rem;
}

table.calendar {
	margin: auto;
	border-collapse: collapse;
	border-radius: 0.4rem;
	overflow: hidden;
	background-color: white;
}

table.calendar caption {
	background-color: var(--caption-color);
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .2em;
	border: 0;
}

table.calendar thead th {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--header-color);
	font-size: large;
	border: 0px;
}

table.calendar thead th#thDay {
	padding-left: 1rem;
	padding-right: 1rem;
}

table.calendar thead th#thRegular,
table.calendar thead th#thOvertime,
table.calendar thead th#thTotal {
	width: 20%;
}

table.calendar th,
table.calendar td {
	border-width: 2px;
	border-style: solid;
	border-color: var(--primary-color) var(--secondary-color);
	padding-left: 0rem;
	padding-right: 0rem;
}

table.calendar td {
	text-align: center;
}

table.calendar td.booked {
	background-color: var(--booked-color);
}

table.calendar tbody th {
	text-align: center;
	font-weight: normal;
}

table.calendar tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

table.calendar tr.even {
	background-color: #fde9d9;
}