/* variables: */
/* primary and secondary background color */
:root{
  --primary-color: hsl(278, 100%, 45%,0.2);
  --secondary-color: hsl(27, 90%, 92%, 0.5);
  --caption-color: hsl(278, 100%, 45%, 1);
  --header-color: #cc93ec;
  --booked-color: #ecceff;
}

table.calendar {
	margin: auto;
	width: 600px;
	border-collapse: collapse;
	border: 1px solid var(--primary-color); /*for older IE*/
}

table.calendar caption {
	background-color: var(--caption-color);
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .2em;
}

table.calendar thead th {
	padding: 8px;
	background-color: var(--header-color);
	font-size: large;
}

table.calendar thead th#thDay {
	width: 40%;	
}

table.calendar thead th#thRegular,
table.calendar thead th#thOvertime,
table.calendar thead th#thTotal {
	width: 20%;
}

table.calendar th,
table.calendar td {
	padding: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--primary-color) var(--secondary-color);
}

table.calendar td {
	text-align: center;
}

table.calendar td.booked {
	background-color: var(--booked-color);
}

table.calendar tbody th {
	text-align: center;
	font-weight: normal;
}

table.calendar tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

table.calendar tr.even {
	background-color: #fde9d9;
}