table.calendar {
	margin: auto;
	width: 600px;
	border-collapse: collapse;
	border: 1px solid #f79646; /*for older IE*/
}

table.calendar caption {
	background-color: #f79646;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .2em;
}

table.calendar thead th {
	padding: 8px;
	background-color: #fde9d9;
	font-size: large;
}

table.calendar thead th#thDay {
	width: 40%;	
}

table.calendar thead th#thRegular,
table.calendar thead th#thOvertime,
table.calendar thead th#thTotal {
	width: 20%;
}

table.calendar th,
table.calendar td {
	padding: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: #f79646 #ccc;
}

table.calendar td {
	text-align: center;
}

table.calendar td.booked {
	background-color: #f79646;
}

table.calendar tbody th {
	text-align: center;
	font-weight: normal;
}

table.calendar tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

table.calendar tr.even {
	background-color: #fde9d9;
}